<!DOCTYPE html>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93860600-1', 'auto');
  ga('send', 'pageview');
</script>

<html lang="en">

  <header>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-text">
            <span class="name">MAAD Libs</span>
            <span class="skills">Mad Libs with Songs of Your Choice to Replace Swears</span>
          </div>
        </div>
      </div>
    </div>
  </header>



  <%= simple_form_for @song do |f| %>
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2>Enter Your Song</h2>
            <hr class="star-primary">
            <% if flash[:error] %>
              <h4><div class="error"><%= flash.now[:error] %></div></h4>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <form name="sentMessage" id="contactForm" novalidate>
              <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                  <label>Artist</label>
                  <%= f.input :artist, input_html: { type: 'text', class: "form-control", placeholder: "Artist", id: "name" } %>
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                  <label>Song Title</label>
                  <%= f.input :title, input_html: { type: 'text', class: "form-control", placeholder: "Song Title", id: "name" } %>
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <br>
              <div id="success"></div>
              <div class="row">
                <div class="form-group col-xs-12">
                  <%= f.submit class: 'btn btn-success btn-lg' %>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <% if @song.errors.any? %>
      <% redirect_to new_song_path %>
    <% end %>
  <% end %>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
    <a class="btn btn-primary" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

  </body>

</html>
